<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>urlpaypal</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>urlretorno</param-name>
        <param-value>http://localhost:8080/EcommerceJEE/Cart?action=finish</param-value>
    </context-param>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>viewcontrollers.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDeCategoria</servlet-name>
        <servlet-class>viewcontrollers.RegistroDeCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDeCategoriaController</servlet-name>
        <servlet-class>controllers.RegistroDeCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDeSubCategoria</servlet-name>
        <servlet-class>viewcontrollers.RegistroDeSubCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDeSubCategoriaController</servlet-name>
        <servlet-class>controllers.RegistroDeSubCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarMonedaAdmin</servlet-name>
        <servlet-class>controllers.CambiarMonedaAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>viewcontrollers.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>viewcontrollers.Cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CambiarMoneda</servlet-name>
        <servlet-class>controllers.CambiarMoneda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambiarMoneda</servlet-name>
        <url-pattern>/CambiarMoneda</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>controllers.ProductoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroDeMarcaController</servlet-name>
        <servlet-class>controllers.RegistroDeMarcaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroDeMarcaController</servlet-name>
        <url-pattern>/RegistroDeMarcaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroDeMarca</servlet-name>
        <servlet-class>viewcontrollers.RegistroDeMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroDeMarca</servlet-name>
        <url-pattern>/RegistroDeMarca</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>RegistroDeCategoria</servlet-name>
        <url-pattern>/RegistroDeCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroDeCategoriaController</servlet-name>
        <url-pattern>/RegistroDeCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroDeSubCategoria</servlet-name>
        <url-pattern>/RegistroDeSubCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroDeSubCategoriaController</servlet-name>
        <url-pattern>/RegistroDeSubCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarMonedaAdmin</servlet-name>
        <url-pattern>/CambiarMonedaAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
